

<div class='contenedor_Footer'>
    <div class='contenedor_Menu'>
        <div class='menuFooter'>
            <div class='menu'>
                <h5 class='tituloAnclas' href="">Bookish</h5>
                <a class='anclas' href="">Acerca de</a>
                <a class='anclas' href="">Equipo</a>
                <a class='anclas' href="/politicas">Politicas</a>
                <a class='anclas' href="">Carreras</a>
                <a class='anclas' href="">Prensa</a>
            </div>

            <div class='menu'>
                <h5 class='tituloAnclas' href="">Explorar</h5>
                <a class='anclas' href="/">Inicio</a>
                <a class='anclas' href="">Acerca de </a>
                <a class='anclas' href="">Confianza y seguridad</a>
                <a class='anclas' href="">Sostenibilidad</a>
                <a class='anclas' href="">Preguntas frecuentes</a>
                <a class='anclas' href="">Ayuda</a>
            </div>

            <div class='menu'>
                <h5 class='tituloAnclas' href="">Principales ciudades</h5>
                <a class='anclas' href="">Buenos Aires</a>
                <a class='anclas' href="">Rosario</a>
                <a class='anclas' href="">Cordoba</a>
                <a class='anclas' href="">Tucuman</a>
                <a class='anclas' href="">San Luis</a>
                <a class='anclas' href="">Mendoza</a>
            </div>

            <div class='menu'>
                <h5 class='tituloAnclas' href="">Sección</h5>
                <a class='anclas' href="">Entrga</a>
                <a class='anclas' href="">Precios</a>
                <a class='anclas' href="">Pagos</a>
                <a class='anclas' href="">Escritores</a>
            </div>
        </div>
        <div class='redes_Footer'>

            <h3 class='titulo_redes'>Bookish</h3>
            <a class='redes' href="https://www.youtube.com/"><i class="fa-brands fa-youtube "></i></a>
            <a class='redes'  href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram "></i></a>
            <a class='redes'  href="https://es-la.facebook.com/"><i class="fa-brands fa-facebook "></i></a>
            <a class='redes'  href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>

            
           

        </div>
     
    
    </div>
    
   

    <div class='raya'></div>

    <div class="contenedor-parrafo-footer">
    <p class='parrafoFooter'>copyright @ 2023 turo corporation All rights reserved </p>
    </div>

<script src="../../../public/index.js"></script>
<!-- scripts de bootstrap -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
</body>
</html>