<header>
  <div class="header-izq">
    <h1 id="logo">Bookish</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="#">Quienes Somos</a>
      <a href="/enviar-correo">Contacto</a>
      <a href="/comprar">Comprar</a>
      <a href="#">Categorías</a>
    </nav>
  </div>
  <div class="header-der">
    <div class="buscador">
      <i class="fa-solid fa-magnifying-glass" id="buscador"></i>
      <form id="searchForm" action="/comprar" method="get"> <!-- Cambio en el atributo action -->
        <input type="search" name="buscar" id="buscar" placeholder="Buscar" />
      </form>
    </div>
    <i class="fa-regular fa-bell header-der-icono"></i>
    <i class="fa-solid fa-cart-shopping header-der-icono"></i>
    <i class="fa-solid fa-user header-der-icono"></i>
  </div>
</header>
